.pics{
    display: grid;
    position: relative;
    grid-gap: 10px;
    text-align: center;
}

.need_border {
    border: 5px solid #555;
  }
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(80%);
}